/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$white: #ffffff;
$black: #000000;
$gray: #999999;
$light-blue-borders: #00cad1;