/*
|--------------------------------------------------------------------------
| Global settings, resets & imports
|--------------------------------------------------------------------------
*/

@import 'imports/colors';
@import 'imports/fonts';

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.v-snack__content {
  background-color: #1986ff !important;
}
html {
  overflow-x: hidden;
}
body {
    overflow-x: hidden;
    font-family: $roboto;
}

a {
    text-decoration: none;
    color: $black;
    &:hover {
        text-decoration: none;
        color: $black;
    }
}

a,
button,
input,
select,
textarea,
form,
[contenteditable] {
    &:focus {
        outline: none;
    }
}

.btn {
  font-weight: 700;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.btn-template-outlined {
  background: none;
  border: 1px solid #1986ff !important;
  color: #1986ff;
  border-radius: 0 !important;
  text-decoration: none;
}
.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-left: 5px solid #3386ff;
}
.btn-template-outlined:hover, .btn-template-outlined:focus {
  background: #1986ff;
  color: #fff !important;
}
/* BOOTSTRAP STYLES EDITS */
.navbar {
    background-color: $white !important;
}

.bg-info{
    background-color: $white;
}

.slider {
    padding-top: 56px;
    width: 80%;
    margin: 0 auto;
}

.card>img {
    max-width: 300px;
    max-height: 300px;
}

/* CUSTOM STYLES */

.navbar {
    padding: 0 1rem;
    height: 56px;
    &-section {
        &__item {
            text-transform: uppercase;
            font-family: $roboto;
            color: $black !important;
            height: 56px;
            padding-top: 10px;
            &:hover,
            &:active,
            &:visited {
                background-color: rgba(30, 100, 193, 0.6);
            }
            &:hover>a>a {
                color: $white;
            }
        }
    }
}

.sliderContainer {
    border: 1px solid $light-blue-borders;
}

.mask {
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(30, 100, 193, 0.6);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.homeBackground {
    background-image: url('../assets/photogrid.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}

.cardContainer {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}



/* Default Image && Buttons */
.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-flex {
  display: flex;
}

.box-image {
  position: relative;
  margin: 20px 0;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(30, 100, 193, 0.6);
    padding: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
  }

  .buttons {
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  &:hover p {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  &:hover h3,
  &:hover p,
  &:hover .buttons {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  &:hover .buttons {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-template-outlined-white {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    background: #fff;
    color: #1986ff;
  }
}

.r_row {
  border-top: 2px solid #1986ff;

  .r-col {
    max-width: 25%;
  }
  @include breakpoint(xs) {
    display: block;

    .r-col {
      max-width: 100%;
    }
  }
}

h2 {
  text-align: center;
  text-transform: uppercase;

  &:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin-top: .6rem;
    background-color: #1986ff;
    margin-right: auto;
    margin-left: auto;
  }
}

.card-content {
  @include breakpoint(xs) {
    flex-basis: unset;
  }
}

.more-info {
  .container {
    @include breakpoint(xs) {
      flex-direction: column !important;

      h3 {
        text-align: center !important;
        margin-right: 0 !important;
      }
    }
  }
}

footer {
    @include breakpoint(xs) {
      .footer-r {
        text-align: center;
        .contact-col {
          flex-basis: unset;
          margin-top: 30px;

          div {
            display: inline-flex;
          }

          img {
            max-width: 50%;
          }
        }
      }
    }
}

.conv-c {
  @include breakpoint(xs) {
    .col {
      flex-basis: unset;
    }
  }
}

.c-cont {
  @include breakpoint(xs) {
    .row {
      margin: 0 10px;
    }
  }
}
.navbar-collapse {
  justify-content: flex-end;

  @include breakpoint(xs) {
    background: #FFF;
    padding: 15px;
  }
}

@include breakpoint(xs) {
  .navbar button {
    background: #3386ff;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;

  &:after {
    content: 'Asociacion Mutual Unidad 1 de Noviembre';
    color: #000;

    @include breakpoint(xs) {
      font-size: 10px;
    }
  }

  img {
    margin-right: 10px;
  }
}
